body {
	font-family: sans-serif;
	height: 100%;
	margin: 0;
}

#container {
	min-height: 100%;
	position: relative;
}

#wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

#wrapper > .row {
	display: table-row;
}

#sidebar {
	border-right: 1px solid black;
	width: 20%;
}

#sidebar > :last-child {
	padding-bottom: 2em;
}

#mainbar {
	padding: 5px;
}

#sidebar, #mainbar {
	display: table-cell;
	vertical-align: top;
}

#footer {
	background-color: white;
	border-top: 1px solid black;
	bottom: 0;
	height: 2em;
	position: absolute;
	text-align: center;
	width: 100%;
}

svg {
	margin: -5px;
}

.menu .menu_arrow {
	display: inline-block;
	float: right;
}

.menu .title {
	background-color: #428bca;
	border-bottom: 1px solid #2070a0;
	color: white;
	padding: 5px;
}

.menu .content {
	padding: 5px;
	text-align: center;
}

.menu .content table {
	margin: 0 auto;
}

.menu .content table td {
	text-align: center;
}

.menu .content span.property_value {
	font-weight: bold;
}

.menu .content input.property_value {
	width: 50px;
	text-align: center;
}

.menu .content input[type="button"].change_property {
	margin-left: 20px;
}

.machine_selection_btn {
	width: 100%;
}

.file_manip_btn:not(:last-child) {
	margin-right: 5px;
}

div.row {
	margin-bottom: 5px;
}

.image_button {
	cursor: pointer;
	max-height: 32px;
	max-width: 32px;
	margin-right: 5px;
	vertical-align: middle;
}

.image_button.disabled {
	cursor: default;
	opacity: 0.5;
}

#system_prompt {
	background-color: #DDD;
	border-bottom: 1px solid black;
	margin: -5px;
	padding: 5px;
	position: relative;
	z-index: 3;
}

#system_prompt input {
	margin-right: 5px;
	text-align: center;
	width: 100px;
}

.click_blocker {
	background-color: #DDD;
	height: 100%;
	opacity: 0.6;
	position: absolute;
	width: 100%;
	z-index: 2;
}

#file_selector {
	display: none;
}

#recognition_progress {
	background-color: #DDD;
	font-size: 250%;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 5px;
	overflow: hidden;
	padding: 5px;
	text-overflow: ellipsis;
}

#tape {
	background-color: #DDD;
	border-collapse: collapse;
	display: table;
	font-family: courier;
	font-size: 300%;
	margin-top: 5px;
	padding: 5px;
	width: 100%;
}

.tape_cell {
	border: 1px solid black;
	display: table-cell;
}

.tape_cell.center {
	background-color: #FF8;
}

span.none {
	color: #888;
	font-style: italic;
}

#machine_actions input[type="button"] {
	width: 100%;
}

#transition_table td {
	border: 1px solid black;
	padding: 5px;
}
