body {
	font-family: sans-serif;
	height: 100%;
	margin: 0;
}

#container {
	min-height: 100%;
	position: relative;
}

#wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

#wrapper > .row {
	display: table-row;
}

#sidebar {
	border-right: 1px solid black;
	width: 15%;
}

#sidebar > :last-child {
	padding-bottom: 2em;
}

#mainbar {
	padding: 5px;
}

#sidebar, #mainbar {
	display: table-cell;
	vertical-align: top;
}

#footer {
	background-color: white;
	border-top: 1px solid black;
	bottom: 0;
	height: 2em;
	position: absolute;
	text-align: center;
	width: 100%;
}

.menu .title {
	background-color: #428bca;
	border-bottom: 1px solid #2070a0;
	color: white;
	padding: 5px;
}

.menu .content {
	padding: 5px;
	text-align: center;
}

.menu .content table {
	margin: 0 auto;
}

.menu .content table td {
	text-align: center;
}
